*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root {
  height: 100%;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  line-height: 1.5;
  background: transparent;
  color: inherit;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing:antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
ul, ol {
  list-style: none;
}

/* 6. tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 2px solid Highlight;
  outline-offset: 2px;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}