<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/tema/estilos/reset.css">
  <link rel="stylesheet" href="/tema/estilos/pages/cadastro/cadastrar-usuario.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Novo cadastro</title>
</head>
<body>
  <main class="boxPrincipalCadastrar">
    <section class="sessaoCadastrarUsuario">
      {{formCadastrarUsuario}}
    </section>
  </main>
</body>
</html>