<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/tema/estilos/reset.css">
  <title>{{titleHead}}</title>
</head>
<body>
  <header>
    <div class="boxLogoAplicacao">
      <h3>Article</h3>
    </div>
    
    <div class="boxNavPerfil">
      <div class="boxNavegacao">
        <nav>
          <ul>
            <li>Inicio</li>
            <li>Categorias</li>
            <li>Sobre</li>
          </ul>
        </nav>
      </div>

      <div class="boxImagemPerfil">
        <img src="" alt="Perfil">
      </div>
    </div>
  </header>

  {{conteudo}}
  
